.footer {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #045837;
}

.chalmers-logo-footer {
    width: 40%;
    margin-top: 20px;
}

.left-footer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 140.62%;
}

.right-footer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 140.62%;
}