footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #045837;
}

.chalmers-logo-footer {
  width: 30%;
  margin: 1rem;
}

.left-footer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 140.62%;
  margin: 1rem;
}

.right-footer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 140.62%;
  margin: 1rem;
}

@media screen and (min-width: 700px) {
  .right-footer {
    font-size: 18px;
  }

  .left-footer {
    font-size: 18px;
  }
}
