.fourth-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #045837
    ;
    margin: 0;
    padding: 5px;
    height: 100vh;
    width: 100%;
  }

  p {
      margin-left: 5px;
      margin-right: 5px;
  }