body {
  position: absolute;
  width: 1176px;
  height: 730px;
  left: 0px;
  top: 0px;
  background: #def8d9;
}

.chalmersLogo {
  position: absolute;
  width: 261px;
  height: 71px;
  left: 32px;
  top: 19px;
}

.natureTitle {
  position: absolute;
  width: 702px;
  height: 394px;
  left: 89px;
  top: 143px;
  font-family: Oleo Script Swash Caps;
  font-style: normal;
  font-weight: bold;
  font-size: 121px;
  line-height: 140.62%;
  /* or 170px */
  color: #045837;
}

.secondTitle {
  position: absolute;
  width: 540px;
  height: 96px;
  left: 86px;
  top: 280px;

  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 140.62%;
  /* or 67px */
  color: #045837;
}

.ctaButton {
  position: absolute;
  width: 276px;
  height: 72px;
  left: 142px;
  top: 389px;
  background: #456140;
  box-shadow: 8px 13px 4px rgba(29, 29, 27, 0.22);
  border-radius: 200px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 140.62%;
  /* or 51px */

  color: #def8d9;
}

.indian {
  position: absolute;
  width: 180.08px;
  height: 235px;
  left: 677px;
  top: 216px;

  filter: drop-shadow(0px 11px 10px rgba(0, 0, 0, 0.25));
}
