.indian {
  position: absolute;
  top: 90px;
  right: 100px;
  width: 109px;
  z-index: 2;
  filter: drop-shadow(0px 11px 10px rgba(0, 0, 0, 0.25));
}

#hair,
#face {
  animation: head 2s ease-in-out infinite alternate;
  transform-origin: top;
}

@keyframes head {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-5deg);
  }
}

#left-leg {
  animation: leftleg 2s linear infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#right-leg {
  animation: rightleg 2s linear infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes leftleg {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-30deg);
  }
}

@keyframes rightleg {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(30deg);
  }
}

#left-arm {
  animation: leftarm 2s ease infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#right-arm {
  animation: rightarm 2s ease-in infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes rightarm {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes leftarm {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(15deg);
  }
}

@media screen and (min-width: 600px) {
  .indian {
    position: absolute;
    top: 120px;
    right: 200px;
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 700px) {
  .indian {
    position: absolute;
    top: 280px;
    right: 150px;
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 900px) {
  .indian {
    position: absolute;
    top: 280px;
    right: 150px;
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 1300px) {
  .indian {
    position: absolute;
    top: 230px;
    right: 380px;
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 1600px) {
  .indian {
    position: absolute;
    top: 300px;
    right: 550px;
    width: 240px;
    height: 240px;
  }
}
