.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: #6d9865;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s opacity 3s ease;
}

.leaf1,
.leaf2,
.leaf3,
.leaf4,
.leaf5,
.leaf6,
.leaf7,
.leaf8,
.leaf9,
.leaf10 {
  height: 200px;
  position: absolute;
}

.leaf1 {
  top: 70%;
  right: 25%;
  animation: leaf 1s ease-in infinite alternate;
}

.leaf2 {
  top: 70%;
  left: 25%;
  animation: leaf 1s linear infinite alternate;
}

.leaf3 {
  top: 70%;
  animation: leafreverse 1s ease-in-out infinite alternate;
}

.leaf4 {
  top: 0%;
  animation: leafreverse 1s ease-in infinite alternate;
  left: 25%;
}

.leaf5 {
  top: 0%;
  right: 25%;
  animation: leafreverse 1s linear infinite alternate;
}

.leaf6 {
  top: 0%;
  animation: leaf 1s ease-in-out infinite alternate;
}

.leaf7 {
  top: 0%;
  right: 10%;
  animation: leaf 1s linear infinite alternate;
}

.leaf8 {
  top: 0%;
  left: 10%;
  animation: leaf 1s ease-in infinite alternate;
}

.leaf9 {
  top: 70%;
  left: 10%;
  animation: leafreverse 1s ease-in-out infinite alternate;
}

.leaf10 {
  top: 70%;
  right: 10%;
  animation: leafreverse 1s ease-in-out infinite alternate;
}

.preloader h3 {
  position: absolute;
  top: 25%;
  transform: translateY(-75%);
  font-family: "OleoScriptSwashCaps-Bold";
  color: #045837;
  font-size: 40px;
  animation: text 1s ease infinite alternate;
  z-index: 1;
}

@keyframes text {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes leaf {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes leafreverse {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 700px) {
  .leaf1,
  .leaf2,
  .leaf3,
  .leaf4,
  .leaf5,
  .leaf6,
  .leaf7,
  .leaf8,
  .leaf9,
  .leaf10 {
    height: 400px;
    position: absolute;
  }

  .leaf1,
  .leaf2,
  .leaf3,
  .leaf9,
  .leaf10 {
    top: 55%;
  }

  .preloader h3 {
    font-size: 50px;
    top: 35%;
    animation: text 7s ease infinite alternate;
  }

  @keyframes text {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(5);
    }
  }
}
