.second-view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #def8d9;
  margin: 0;
  padding: 5px;
  height: auto;
}

.blob-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.blob-title2 {
  text-align: center;
  color: #045837;
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: OleoScriptSwashCaps-Bold;
  z-index: 2;
}

.blob-title3 {
  font-family: OpenSans-Regular;
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  line-height: 140.62%;
  margin: 0;
  color: #045837;
  z-index: 2;
}

.blob-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20%, 1fr));
}

.item1 {
  grid-column: 1;
  grid-row: 1;
  padding-left: 7px;
}

.item1 > img {
  margin: -10px;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  padding-left: 5px;
}

.item2 > img {
  margin: -25px;
}

.item3 {
  grid-column: 1;
  grid-row: 3;
  padding-left: 5px;
}

.item3 > img {
  margin: -35px;
}

.blob1:hover,
.blob2:hover,
.blob3:hover,
.blob4:hover,
.blob5:hover,
.blob6:hover {
  animation: blob 0.5s ease infinite alternate;
}

@keyframes blob {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 700px) {
  .blob-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    /* grid-auto-flow: row; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px); */
    /* grid-template-columns: repeat(auto-fit, minmax(30%, 2fr)); */
    /* grid-template-rows: repeat(1, 1fr); */
  }

  /* .item1 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  } */

  .item1 > img {
    margin: 0;
    height: 330px;
    width: 330px;
  }

  /* .item2 {
    grid-column: 2;
    grid-row: 1;
  } */

  .item2 > img {
    margin: 0;
    height: 330px;
    width: 330px;
  }

  /* .item3 {
    grid-column: 3;
    grid-row: 1;
  } */

  .item3 > img {
    margin: 0;
    height: 330px;
    width: 330px;
  }
}
